@model IEnumerable<Learning.WebSite.Models.EnrollModel>

@{
    ViewBag.Title = "Registered Classes";
}

<style>
    .topmain {
        background-color: gainsboro;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        text-anchor: start;
    }
</style>
<div class="topmain">
    <h1>The Learning Center</h1>
    The Place For Technology Classes.
    <br />
    <br />

</div>
<h2>Registered Classes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }

</table>